*{
  background-color: #000000;
}
#header{
 background-color: rgba(0, 0, 0, 0.7) ;
 background-blend-mode: overlay;

 justify-content: center;
background-image: url(hero\ section.jpg);
    background-size: cover;
    height: 700px;
    width: 100%; 
}
#logo{
    height: 50px;
    width: 200px;
    opacity: 1;
    background-image: url( "https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg?w=460" );
   background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin-left: 100px;
    margin-top: 20px;
}
#language{
   margin-top: 30px;
    color: white;
    background-color: black;
    border: 1.5px solid white;
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 30px;
    width: 150px;
margin-left: 700px;
}
#language b{
 display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 150px;
display: inline;
background-color:brown;
    text-align:center;
    color: white;
font-size: 1.2rem;
border: none;
flex-wrap: wrap;
 /* border: 1.5px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; */
}
#sign{
    height: 30px;
    margin-left: 20px;
     border: 1.5px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
    margin-top: 30px;
    background-color: brown;
}
#sign1{
    background-color: brown;}
  #unl{
    height: 30px;
    width: 100%;
    color: white;
    font-size: 2rem;
    display:flex;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    background: none;}
     /* border: 1.5px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;  */
     #unl h2{
        background-color: transparent;
    }    
#top-glow-effect {
    position: absolute; 
    /* top: 0; */
    left: 0;
    right: 0; 
    height: 150px; 
    width: 100%;
    background: radial-gradient(
        ellipse at top, 
        rgba(99, 21, 255, 0.5) 0%, 
        transparent 70% 
    );
    z-index: 10;
    pointer-events: none; 
}
#gradient-line {
    height: 0px; 
    width: 100%;
    border-bottom: 4px solid transparent; 
    border-image: linear-gradient(
        90deg, 
        #ff0066 0%, 
        #6600ff 50%, 
        #ff0066 100% 
    ) 1; 
    margin-top: 10px; 
}

#hero-section{
    height: 200px;
    width: 90%;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
   margin-right: 15px;
}
#trend{
    height: 40px;
font-size: 1.5rem;
color: white;
    width: 300px;
    margin-left: 100px;
}
#box1{
    background-image:url(box\ 1.jpg) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7) ;
    opacity: 0.5;
    height: 400px;
    width: 300px;
    border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 20px;
     margin-left: 80px;
}
#box2{
    background-image:url(box\ 2.jpg) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7) ;
    opacity: 0.5;
    height: 400px;
    width: 300px;
    border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
    margin-right: 20px;
}
#box3{
    background-image:url(box\ 3.jpg) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7) ;
    opacity: 0.5;
    height: 400px;
    width: 300px;
    border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 20px;
}
#box4{
    background-image:url(box\ 4.jpg) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7) ;
    opacity: 0.5;
    height: 400px;
    width: 300px;
    border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 20px;
}
#box5{
    background-image:url(box\ 5.jpg) ;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7) ;
    opacity: 0.5;
    height: 400px;
    width: 300px;
    border: 1.5px solid black;
    border-top-right-radius: 8px;
     border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
     margin-right: 20px;
}
#hero-section2{
     height: 40px;
font-size: 1.5rem;
color: white;
    width: 400px;
    margin-left: 70px;
    margin-top: 50px;
    
}
#more{
    display: flex;
    justify-content: space-evenly;
     align-items: center;
    width:90% ;
    height: auto;
}
#box6{
    height: 250px;
    width: 300px;
    background-color:  rgba(34, 34, 125, 0.196);
     border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 5px;
     margin-left: 90px;
     opacity: .7;
     color: white;
}
#box6 h1{
    background-color: transparent;
    margin-left: 10px;
}
#box6 p{
    background-color: transparent;
    margin-left: 10px;
}
#box7{
    height: 250px;
    width: 300px;
    background-color: rgba(34, 34, 125, 0.196);
     border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 5px;
     margin-left: 70px;
     opacity: .7;
     color: white;
}
#box7 h1{
    background-color: transparent;
    margin-left: 10px;
    display: flex;
}
#box7 p{
    background-color: transparent;
    margin-left: 10px;
}
#box8{
    height: 250px;
    width: 300px;
    background-color: rgba(34, 34, 125, 0.196);
     border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
       border-top-left-radius: 8px;
     margin-right: 5px;
     margin-left: 70px;
     opacity: .7;
     color: white;
}
#box8 h1{
    background-color: transparent;
    margin-left: 10px;
    display: flex;
}
#box8 p{
    background-color: transparent;
    margin-left: 10px;
}
 #box9{
    height: 250px;
    width: 300px;
    background-color: rgba(34, 34, 125, 0.196);
     border: 1.5px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
     margin-right: 5px;
        border-top-left-radius: 8px;
     margin-left: 70px;
     opacity: .7;
     color: white;
}
#box9 h1{
    background-color: transparent;
    margin-left: 10px;
    display: flex;
}
#box9 p{
    background-color: transparent;
    margin-left: 10px;
}
#gradient-line2 {
    height: 0px; 
    width: 100%;
    border-bottom: 4px solid transparent; 
    border-image: linear-gradient(
        90deg, 
        #ff0066 0%, 
        #6600ff 50%, 
        #ff0066 100% 
    ) 1; 
    margin-top: 200px; 
}
#questions{
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-top: 50px;
    color: white;
    margin-left: 50px;
    font-size: 1.5rem;
}
#x{
    margin-left: 20px;
}
#q1{
    height: 80px;
    width: 80%;
    color: white;
    background-color: gray;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 55px;
    border: 4px solid black;
    border-bottom-right-radius: 8px;
}
#q1 h1{
margin-top: 10px;
font-size: 2rem;
background-color: transparent;
margin-left: 20px;
}
#unl{
    padding-top: 30%;
    padding-right:  30%;
}
#q2{
    height: 80px;
    width: 80%;
    color: white;
    background-color: gray;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 55px;
     border: 4px solid black;
    border-bottom-right-radius: 8px;
}
#q2 h1{
margin-top: 10px;
font-size: 2rem;
background-color: transparent;
margin-left: 20px;
}
#q3{
    height: 80px;
    width: 80%;
    color: white;
    background-color: gray;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 55px;
     border: 4px solid black;
    border-bottom-right-radius: 8px;
}
#q3 h1{
margin-top: 10px;
font-size: 2rem;
background-color: transparent;
margin-left: 20px;
}
#q4{
    height: 80px;
    width: 80%;
    color: white;
    background-color: gray;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 55px;
     border: 4px solid black;
    border-bottom-right-radius: 8px;
}
#q4 h1{
margin-top: 10px;
font-size: 2rem;
background-color: transparent;
margin-left: 20px;
}
#q5{
    height: 80px;
    width: 80%;
    color: white;
    background-color: gray;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 55px;
     border: 4px solid black;
    border-bottom-right-radius: 8px;
}
#q5 h1{
margin-top: 10px;
font-size: 2rem;
background-color: transparent;
margin-left: 20px;
}
#foot{
    display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: underline;
   width: 80%;
}
#footer{
   width: 80%;
   height: 200px;
   color: white;
   margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: underline;
}
#footer h6{
    font-size: 1rem;
}
#india{
    height: auto;
    width: auto;
    color: white;
    margin-left: 100px;
    font-size: larger;
}
#gradient-line3 {
    height: 0px; 
    width: 100%;
    border-bottom: 4px solid transparent; 
    border-image: linear-gradient(
        90deg, 
        #ff0066 0%, 
        #6600ff 50%, 
        #ff0066 100% 
    ) 1; 
    margin-top: 10px; 
}