body{
    background-color:rgb(26, 84, 90) ;
    border: 5px;
    border-style: solid ;
    border-color: black;
   background-image: url(https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg);
   background-size: cover;
  }
.header {
    color: black;
    background-color: aqua;
    text-align: center;
    padding-top: 20px;
}
#intro{
    text-decoration: underline;
    text-transform: uppercase;
}
#\31 01{
    height: 200px;
    width: 400px;
  border-radius: 10px;
  margin-top: 30px;
    border: 2px;
    border-style: solid;
    border-color: rgb(174, 33, 89);
    margin-bottom: 30px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240402/pngtree-beautiful-horizon-scenery-in-village-meadow-on-color-natural-background-image_15648436.jpg);
     background-size: cover;
  }
.div1{
display: flex;
align-items: center;
justify-content: center;
border: 5px;
border-color: black;
}
.pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px;
  border-color: rgb(103, 20, 20);
border-style: solid;
}
#\31 02{
  height: 200px;
    width: 400px;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240402/pngtree-beautiful-horizon-scenery-in-village-meadow-on-color-natural-background-image_15648436.jpg);
  background-size: cover;
  border-radius: 10px;
background-color:aqua;
border: 2px;
    border-style: solid;
    border-color: rgb(144, 171, 9);
     margin-top: 50px;
}
#\31 00 {
    display: flex;
    gap:50px ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
  text-align: center;
    
transition: transform 0.3s,box-shadow 0.3s;}
#\31 01:hover {
  transform: scale(1.03);
  background-color:rgb(213, 231, 231);
  transition: 0.3s;
}
#\31 03:hover {
  transform: scale(1.03);
  background-color:rgb(225, 241, 241);
  transition: 0.3s;
} 
#\31 02:hover {
  transform: scale(1.03);
  background-color:rgb(187, 196, 196);
  transition: 0.3s;
}
#\31 04:hover {
  transform: scale(1.03);
  background-color:rgb(92, 97, 97);
  transition: 0.3s;
}
#\31 05:hover {
  transform: scale(1.03);
  background-color:rgb(162, 168, 168);
  transition: 0.3s;
} 
#\31 06:hover {
  transform: scale(1.03);
  background-color:rgb(172, 179, 179);
  transition: 0.3s;
}
#\31 03{
    height: 200px;
    width: 400px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
background-color:aqua;
border: 2px;
    border-style: solid;
    border-color: rgb(62, 6, 104);
     margin-top: 40px;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLciPiuEOj9UU629RXPFu1KsEjVrEGvNxFwg&s);
     background-size: cover;
    }
#\31 04{
    height: 200px;
    width: 400px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
background-color: aqua;
border: 2px;
    border-style: solid;
    border-color: rgb(6, 136, 147);
     margin-top: 30px;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLciPiuEOj9UU629RXPFu1KsEjVrEGvNxFwg&s);
     background-size: cover;
}
#\31 10{
    display: flex;
    border-radius: 10px;
    justify-content: center;
  text-align: center;
  gap: 50px;
}
#\31 05{
    height: 200px;
    width: 400px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
background-color: aqua;
border: 2px;
    border-style: solid;
    border-color: rgb(158, 90, 7);
    margin-top: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkObmcrkhR6LFWdhzlwZwucn4ujsSQISb1uQ&s);
    background-size: cover;
}
#\31 06{
    height: 200px;
    width: 400px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
background-color: aqua;
border: 2px;
    border-style: solid;
    border-color: rgb(87, 5, 5);
     margin-top: 50px;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkObmcrkhR6LFWdhzlwZwucn4ujsSQISb1uQ&s);
    background-size: cover;
}
#\31 09{
    display: flex;
    border-radius: 10px;
    justify-content: center;
  text-align: center;
  gap: 50px;
}
#\31 13{
  display: flex;
  text-align: center;
  justify-content: center;
}
#\32 01{
  color: brown;
}
#\32 02{
  color:blue;
}
#\32 03{
  color: green;
}
#\32 04{
  color: brown;
}
#\32 05{
  color:green;
}
#\32 06{
  color:red;
}
#\32 07{
  color: brown;
}
